
@import url("fineprint.css") print;
@import url("bluish.css") print, screen;
@import "common.css" screen;
@import url("landscape.css") screen and (orientation: landscape);

@namespace url(http://www.w3.org/1999/xhtml);
@namespace svg url(http://www.w3.org/2000/svg);

@media (min-width: 500px) {
  body {
    color: blue;
  }
}

@font-face {
  font-family: "Trickster";
  src:
    local("Trickster"),
    url("trickster-COLRv1.otf") format("opentype") tech(color-COLRv1),
    url("trickster-outline.otf") format("opentype"),
    url("trickster-outline.woff") format("woff");
}

@counter-style thumbs {
  system: cyclic;
  symbols: "\1F44D";
  suffix: " ";
}

.ul,
ul {
  list-style: thumbs;
}

/* This matches all XHTML <a> elements, as XHTML is the default unprefixed namespace */
a {
	top: 1px;
}

/* This matches all SVG <a> elements */
svg|a {
	top: 2px;
}

/* This matches both XHTML and SVG <a> elements */
*|a {
	top: 3px;
}

/*
CSSPageRule @page at-rule is a CSS at-rule used to modify different aspects of printed pages.
*/
@page {
  margin: 1cm;
}
@keyframes slidein {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}


[data-error]:after {
	content: "Error " attr(data-error);
	color: #eb5757;
	display: block;
	font-size: 0.75em;
}





